@media (max-width : 768px) {
    .row {
        margin: 0;
    }
    .container {
        margin: 0 !important;
        border-radius: unset;
        box-shadow: unset;
        background-color: unset;
    }
    .header {
        height: 200px !important;
        border-radius: unset;
    }
}
@media (min-width: 768px ) and (max-width: 991px) { 
    .row {
        margin: 0;
    }
    .wide {
        width: unset;
    }
    .container {
        margin: 0 !important;
        border-radius: unset;
        box-shadow: unset;
        background-color: unset;
    }
    .header {
        height: 100px;
        border-radius: unset;
    }
    .lights,
    .lights::after,
    .lights::before {
        height: 26px;
        width: 26px;
        left: 6%;
    }
    .out-game {
        left: 13%;
    }
    .out-game a i {
        font-size: 36px;
        margin-left: 15px;
    }
    .name-game {
        height: 50px;
        width: 300px;
    }
    .name-game span {
        font-size: 30px;
    }
    .info .avata,
    .info .plus,
    .info .coin-user,
    .coin-icon {
        font-size: 32px !important;
    }
    .control-coin .coin {
        font-size: 32px;
    }
    .control-container {
        background-color: unset;
        display: flex;
        justify-content: space-around;
    }
    .item:hover {
        transform: unset;
    }
    .item .control-coin {
        height: 100px;
    }
    .increase, .reduce {
        width: 100px;
        height: 75px;
        font-size: 36px;
    }
    #dice1, #dice2, #dice3 {
        margin-top: 30px;
        position: unset;
        height: 340px;
        width: 340px;
    }
    .spin {
        height: 150px;
        width: 250px;
        text-align: center;
        border-radius: 20px;
        padding-top: 30px;
        font-size: 30px;
    }
    .toast {
        min-width: 600px;
        height: 100px;
    }
    .icon-conditon-toast {
        font-size: 50px;
    }
    .inner-container p:first-child {
        font-size: 30px;
    }
    .inner-container p:last-child{
        font-size: 28px;
    }
    .toast-control {
        height: 100px;
        width: 100px;
    }
    .toast-control div {
        font-size: 30px;
    }
}

